/*
font-family: 'Major Mono Display', monospace;
font-family: 'KoHo', sans-serif;
*/

body {
  background-image: url('wood.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#head {
  margin: 5px 0 0 0;
  font-family: 'Major Mono Display', monospace;
  font-size: 40px;
  text-align: center;
  color: #F2E7C9;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

#items {
  background-color: blue;
  height: -webkit-fill-available;
  width: 70vw;
  padding: auto;
}

#photo0, #photo1, #photo2, #photo3, #photo4, #photo5 {
  height: 45vh;
  width: 35vh;
  background-color: yellow;
}

#item0, #item1, #item2, #item3, #item4, #item5 {
  background-color: #ABC9C2;
  width: 35vh;
  margin: 0 20px 40px;
  padding: 0;
  float: left;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
  font-family: monospace;
  font-size: 30px;
}

.qty_title {
  display: inline;
  font-family: 'Major Mono Display', monospace;
}

.name, .price {
  font-size: 25px;
  display: inline;
}

.order {
  margin-left: 10px;
}

.counter {
  display: inline;
}

#check {
  background-color: #F2E7C9;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  right: 20px;
  height: 60vh;
  margin: 0;
  width: 27vh;
  padding: 30px;
}

#info0, #info1, #info2, #info3, #info4, #info5 {
  padding: 10px;
}

#check_table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
}